<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;squeak - byond</title>
</head>
<body>
<header>
    <a href="index.html">byond</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/squeak.html#var">Var Details</a></header>
<main>
<h1>squeak <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/squeak.html">squeak</a></aside>
        
    
            <a href="https://github.com/PMC-Unga-Marines/Unga-Marines/blob/73e8bb3938072f1d2f66bad8122351840bf31896/code/datums/components/squeak.dm#L1">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;squeak.dm 1"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/squeak.html#var/item_connections">item_connections</a></th><td>what we set connect_loc to if parent is a movable</td></tr>
            <tr><th><a href="datum/component/squeak.html#var/last_use">last_use</a></th><td>This is to stop squeak spam from inhand usage</td></tr>
            <tr><th><a href="datum/component/squeak.html#var/squeak_chance">squeak_chance</a></th><td>With what probability will we play sound?</td></tr>
            <tr><th><a href="datum/component/squeak.html#var/squeak_sound">squeak_sound</a></th><td>What sound will we play on squeak</td></tr>
            <tr><th><a href="datum/component/squeak.html#var/step_delay">step_delay</a></th><td>How long do we have to wait before being able to squeak on step</td></tr>
            <tr><th><a href="datum/component/squeak.html#var/steps">steps</a></th><td>This is so shoes don't squeak every step</td></tr>
            <tr><th><a href="datum/component/squeak.html#var/use_delay">use_delay</a></th><td>How long do we have to wait before being able to squeak in hand</td></tr>
            <tr><th><a href="datum/component/squeak.html#var/volume">volume</a></th><td>How loud will we play our sound?</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/item_connections"><aside class="declaration">var </aside>item_connections
            <aside>&ndash; /static/list</aside>
        
    
            <a href="https://github.com/PMC-Unga-Marines/Unga-Marines/blob/73e8bb3938072f1d2f66bad8122351840bf31896/code/datums/components/squeak.dm#L20">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;squeak.dm 20"/></a></h3>
        <p>what we set connect_loc to if parent is a movable</p><h3 id="var/last_use"><aside class="declaration">var </aside>last_use
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/PMC-Unga-Marines/Unga-Marines/blob/73e8bb3938072f1d2f66bad8122351840bf31896/code/datums/components/squeak.dm#L15">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;squeak.dm 15"/></a></h3>
        <p>This is to stop squeak spam from inhand usage</p><h3 id="var/squeak_chance"><aside class="declaration">var </aside>squeak_chance
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/PMC-Unga-Marines/Unga-Marines/blob/73e8bb3938072f1d2f66bad8122351840bf31896/code/datums/components/squeak.dm#L5">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;squeak.dm 5"/></a></h3>
        <p>With what probability will we play sound?</p><h3 id="var/squeak_sound"><aside class="declaration">var </aside>squeak_sound
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/PMC-Unga-Marines/Unga-Marines/blob/73e8bb3938072f1d2f66bad8122351840bf31896/code/datums/components/squeak.dm#L3">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;squeak.dm 3"/></a></h3>
        <p>What sound will we play on squeak</p><h3 id="var/step_delay"><aside class="declaration">var </aside>step_delay
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/PMC-Unga-Marines/Unga-Marines/blob/73e8bb3938072f1d2f66bad8122351840bf31896/code/datums/components/squeak.dm#L12">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;squeak.dm 12"/></a></h3>
        <p>How long do we have to wait before being able to squeak on step</p><h3 id="var/steps"><aside class="declaration">var </aside>steps
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/PMC-Unga-Marines/Unga-Marines/blob/73e8bb3938072f1d2f66bad8122351840bf31896/code/datums/components/squeak.dm#L10">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;squeak.dm 10"/></a></h3>
        <p>This is so shoes don't squeak every step</p><h3 id="var/use_delay"><aside class="declaration">var </aside>use_delay
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/PMC-Unga-Marines/Unga-Marines/blob/73e8bb3938072f1d2f66bad8122351840bf31896/code/datums/components/squeak.dm#L17">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;squeak.dm 17"/></a></h3>
        <p>How long do we have to wait before being able to squeak in hand</p><h3 id="var/volume"><aside class="declaration">var </aside>volume
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/PMC-Unga-Marines/Unga-Marines/blob/73e8bb3938072f1d2f66bad8122351840bf31896/code/datums/components/squeak.dm#L7">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;squeak.dm 7"/></a></h3>
        <p>How loud will we play our sound?</p></main>
<footer>
    tgmc.dme
    <a href="https://github.com/PMC-Unga-Marines/Unga-Marines/tree/73e8bb3938072f1d2f66bad8122351840bf31896">73e8bb3</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
